<style>
  .message-content {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    font-size: 18px;
    line-height: 21px;
  }
</style>

<div class="message-content">
  <p>Hello, {{name}}</p>
  <p>Seems like you forgot your password for GoBarber.</p>
  <p>If this is true, please click bellow to reset your password:</p>
  <p>
    <a href="{{link}}">Reset Password</a>
  </p>
  <p>If you did not forgot your password you can safely ignore this email.</p>
  <p>
    Best Regards<br />
    <strong>GoBarber Team</strong>
  </p>
</div>
